<ion-header class="header" [translucent]="true">
  <ion-toolbar class="header__toolbar">
    <ion-title class="header__title">
      Catbreeds
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-search-bar-component [data]="breeds" (filteredData)="inputChange($event)" [placeholder]="config.searchBarPlaceHolder"></app-search-bar-component>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list" *ngFor="let breed of filteredBreeds" >
    <app-card [i18nMessage]="config.i18nCardMessages" [breed]="breed"></app-card>
  </ion-list>
</ion-content>
