<ion-card class="card">
  <ion-item lines="none" class="card__item">
    <ion-label class="card__label">Abyssinian</ion-label>
    <ion-button slot="end" class="card__button">
      <ion-icon class="card__icon" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-img src="https://cdn2.thecatapi.com/images/0XYvRd7oD.jpg"></ion-img>
  <ion-item lines="none" class="card__item">
    <ion-label class="card__label">Egipto</ion-label>
    <ion-label slot="end" class="card__label">Inteligencia</ion-label>
  </ion-item>
</ion-card>
