<ion-card class="card">
  <ion-item lines="none" class="card__item">
    <ion-label class="card__label">{{ breed.name }}</ion-label>
    <ion-button (click) = "goTo()" slot="end" class="card__button" shape="round">
      {{ i18nMessage.buttonLabel | titlecase }}
      <ion-icon slot="end" class="card__icon" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
    <ion-img class="card__image" [src]="breed.reference_image_id | image"></ion-img>
  <ion-item lines="none" class="card__item">
    <ion-label class="card__label">{{ breed.origin }}</ion-label>
    <ion-label slot="end" class="card__label">{{ i18nMessage.intelligence }} {{ breed.intelligence }}</ion-label>
  </ion-item>
</ion-card>
